.clearfix::after,
.clearfix::before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  clear: both;
}

.left-panel,
.chat-editor .u-netcall-video-link,
.chat-editor .u-netcall-audio-link,
.chat-editor .u-whiteboard,
.chat-btn .u-voice{
    display: none;
}
#rightPanel{
    margin:0 100px 0 0px;
    width: 710px;
}
.cloud-msg-container{
    margin-left: 150px;
}
.asideBox{
    right:60px;
}
.personInfo{
    background: #fff;
    width: 200px;
    height: 238px;
    border-radius:6px;
    text-align: center;
    padding:10px;
    box-sizing: border-box;
    font-size: 14px;
    overflow: auto;
}
.personInfo h3{
    margin-bottom:10px;
    text-align: left;
}
.personInfo p{
    line-height:24px;
    text-align:left;
}
.msg-input.p2p{
    margin-left:107px;
}
.visitInfo{
    background: #fff;
    width: 200px;
    height:360px;
    border-radius:6px;
    text-align: center;
    padding:10px;
    box-sizing: border-box;
    font-size: 14px;
    margin-top:20px;
    overflow:auto;
}
.visitInfo h3{
    text-align: left;
    margin-bottom:20px;
}
.childMenu{
  display: block;
  width: 100%;
  text-align: left;
  margin-top:10px;
}
//下拉菜单样式
.VerticalMenu {
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  .VerticalMenu > div {
    width: 100%;
    float: left;
    cursor: pointer;
  }
  .VerticalMenu > div > div:first-child {
    text-align: left;
    height: 40px;
    background-color: white;
    line-height: 40px;
    padding-right: 10px;
    border-bottom: 1px solid  #cdb0b0;
    transition: background-color 0.4s linear;
  }
  .VerticalMenu > div > div:first-child:hover {
    background-color: #eee;
  }
  .VerticalMenu > div > div:first-child > i:last-child {
    line-height: 40px;
    float: right;
    transform: rotate(0deg);
    transition: transform 0.4s linear;
  }
  .VerticalMenu > div > div:last-child {
    width: 100%;
    display: none;
  }
  .VerticalMenu > div > div:last-child > div {
    background-color: white;
    transition: background-color 0.1s linear;
    text-align: center;
    line-height: 24px;
    border-bottom: 1px solid #e6e6e6;
  }
  .VerticalMenu > div > div:last-child > div:hover {
    background-color: #eee!important;
  }
  .VerticalMenu > div:last-child::after {
    display: block;
    clear: both;
  }